# ---------------------------------------
#
#           GLOBAL GITIGNORE
#
# ---------------------------------------
node_modules
.turbo

*.log*
.env.*
!.env.example

# JetBrains stuff
.idea

# Prisma
prisma/migrations