# ---------------------------------------
#
#           GLOBAL GITIGNORE
#
# ---------------------------------------
node_modules
.turbo

*.log*
.env
.env.local
!.env.example

# JetBrains stuff
.idea

# Mac OS

.DS_Store
