{
  "semi": false,
  "endOfLine": "lf",
  "trailingComma": "none",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    ".scss$|.css$",
    "next|^next/(.*)",
    "react$|react-dom",
    "<THIRD_PARTY_MODULES>",
    "^@/types/(.*)$",
    "^hooks/(.*)$",
    "^components/(.*)$",
    "^[./]",
    "^[../]"
  ],
  "importOrderSortSpecifiers": true
}
