{
  "semi": false,
  "printWidth": 100,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["tailwind.config.ts"],
      "options": {
        "printWidth": 180
      }
    }
  ]
}
