# Dev folders
.next

# Build folders
.turbo
.output
dist
config
out

public

# PWA
sw.js
workbox-*.js
workbox-*.js.map
worker-*.js
worker-*.js.map
sw.js.map

# Why tf would Prettier format binary files?
*.ico
*.png
*.jpg

# Tauri-specific
target
Cargo.toml
