@use "@/styles/partials/mixins" as *;

#carousel {
  @include flexbox(column, center);
  position: relative;
  // TODO
  overflow-x: hidden;
  flex-wrap: nowrap;
  width: 100%;
}

#carousel-container {
  @include flexbox(null, null, center);
  position: relative;

  &::before,
  &::after {
    content: "";
  }

  #control {
    font-size: 2rem;
    border-radius: 12px;
    padding: 15px;
    height: 100px;
    color: rgba($color: white, $alpha: 0.5);
    background: rgba($color: white, $alpha: 0.05);
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      background: rgba($color: white, $alpha: 0.1);
    }
  }
}

// #control-wrapper {
//   position: absolute;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   right: 0;

//   &:first-child {
//     left: 0;
//   }
// }

#label {
  &Popular::before {
    content: "💖";
  }

  &New::before {
    content: "✨";
  }

  &Popular,
  &New {
    &::before {
      padding-right: 5px;
    }
    
    position: relative;
    width: max-content;
    z-index: 1;
    margin: 3.5rem 0 2rem 2.3em;

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      right: -6px;
      background: linear-gradient(
        145deg,
        rgb(255, 0, 245, 0.55),
        rgb(255, 92, 0, 0.55)
      );
      height: 16px;
    }
  }
}

#cards {
  display: flex;
  width: 100vh;
  overflow-x: hidden;
  width: max-content;
  padding: 15px 0;
}

#card-wrapper {
  overflow-x: hidden;
  margin: 0 10px; 
}