.fursona-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
}

.fursona-gallery-item {
  background: rgba(gray, 24%);
  border-radius: 6px;
  height: 200px;
  width: auto;
}
