@mixin theme-wrapper($theme) {
	@if $theme == "dark" {
		.dark-mode {
			color-scheme: dark;
			@content;
		}
	} @else {
		.light-mode {
			color-scheme: light;
			@content;
		}
	}
}

@mixin theme-var($theme, $name, $property) {
	@if $theme == "dark" {
		--#{$name}: var(--dark--#{$property});
	} @else {
		--#{$name}: var(--light--#{$property});
	}
}

:root {
	@include theme-var("dark", "selection-bg", "text-icons");
}

.dark-mode {
	@include theme-var("dark", "footer-bg", "bg-modal");
}

.light-mode {
	@include theme-var("light", "footer-bg", "bg-modal");
}

@each $theme in ("light", "dark") {
	@include theme-wrapper($theme) {
		@include theme-var($theme, "global--background", "background");
		@include theme-var($theme, "global--text", "text-icons");
		@include theme-var($theme, "global--subtext", "subtext");

		@include theme-var($theme, "toast--warning", "bg-warning");
		@include theme-var($theme, "toast--error", "bg-error");
		@include theme-var($theme, "toast--info", "bg-info");

		@include theme-var($theme, "selection", "active-state");

		@include theme-var($theme, "button", "button-idle-chips");
		@include theme-var($theme, "button-hover", "text-field");
		@include theme-var($theme, "button-active", "active-state");

		@include theme-var($theme, "field-border", "subtext");
		@include theme-var($theme, "field-border-focus", "active-state");

		@include theme-var($theme, "footer--list-header", "active-state");

		@include theme-var($theme, "separator", "separator");
	}
}

::selection {
	background: var(--selection);
	color: var(--selection-bg);
}
