@use "mixins" as *;

// --bui-context-menu
@include theme-variable-sets(light) {
  --bui-context-menu: theme("colors.100");
}

@include theme-variable-sets(dark) {
  --bui-context-menu: theme("colors.200");
}

// --bui-active
@include theme-variable-sets(light) {
  --bui-active: theme("colors.100");
}

@include theme-variable-sets(dark) {
  --bui-active: theme("colors.700");
}
