*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  @media (prefers-reduced-motion: reduce) {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #131313;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input[type="text"] {
  border: none;
  color: inherit;
}

$heading-sizes: (
  1 2.2rem,
  2 1.5rem,
  3 1.2rem,
  4 1rem,
);

@each $i, $size in $heading-sizes {
  h#{$i} {
    font-size: #{$size};
  }
}

p {
  font-size: 1.25rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;

  @media only screen and (max-width: 1280px) {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  @media only screen and (max-width: 1024px) {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  @media only screen and (max-width: 640px) {
    width: 100vw;

    h1 {
      font-size: 32px !important;
    }
  }

  p {
    font-size: 15px;
  }
}
