@use 'mixins' as *;

.fursona-gallery-grid {
  @include flexbox(row, null, null);
  // display: grid;
  // grid-template-columns: repeat(5, minmax(240px, 1fr));
  gap: 14px;
}

header {
  #wrapper-desktop {
    @include headerFooterLayout();
    justify-content: space-between;
    column-gap: 2rem;
    
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  #wrapper-mobile {
    @include headerFooterLayout();
    column-gap: 2rem;
    @media only screen and (min-width: 769px) {
      display: none;
    }

    nav {
      @include flexbox(null, space-between);
      width: 100%;
    }

    button {
      padding: 2ex;
      background: #0000;
      border: 1px solid #fff;
      border-radius: 6px;
    }
  }
}

footer {
  @include headerFooterLayout();
  padding-block: 1.25rem;

  .container {
    @include flexbox(row, space-between);
    width: 100% !important;

    @media only screen and (max-width: 768px) {
      @include flexbox(column-reverse, null, center);
      row-gap: 0.5rem;
    }
  }

  ul {
    list-style: none;
    @include flexbox(row);
    column-gap: 2rem;

    @media only screen and (max-width: 768px) {
      @include flexbox(column, null, center);
      row-gap: 1rem;
    }
  }
}