@mixin flexbox($direction: null, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin headerFooterLayout {
  @include flexbox(null, null, center);
  margin: 0 auto;
  max-width: 1400px;
  padding: 1.5rem 1.6rem;
}

// Purple buttons and links
@mixin appButtonStyles {
  font-size: 105%;
  background: linear-gradient(256.61deg, #9f03ff -2.77%, #c05aff 107.69%);
  border-radius: 6px;
  padding: 1.2ex 4ex;
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: 0 0 12px #ad00ff;
  }
}

@mixin appLinkStyles {
  background: linear-gradient(256.61deg, #9f03ff -2.77%, #c05aff 107.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}

// Skeleton styles
@mixin skeletonPulse {
  animation: skeletonPulse 1.3s ease-in-out infinite alternate;
  background: rgba(gray, 50%);

  @keyframes skeletonPulse {
    0% {
      background: rgba(gray, 40%);
    }
    100% {
      background: rgba(gray, 75%);
    }
  }
}

@mixin skeletonSwipe($bg-size: 400px) {
  background: var(--bg-skeleton);
  animation: skeletionSwipe 1.3s linear infinite;
  background-size: $bg-size;

  @keyframes skeletionSwipe {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
}