@use 'mixins' as *;

.fursona-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 14px;
}

header #wrapper {
  @include headerFooterLayout();
  justify-content: space-evenly;
  column-gap: 2rem;
  @media only screen and (max-width: 768px) {
    justify-content: space-between;
  }
}

footer #wrapper {
  @include headerFooterLayout();
}