@use 'mixins' as *;

.fursona-gallery-grid {
  @include flexbox(row, null, null);
  // display: grid;
  // grid-template-columns: repeat(5, minmax(240px, 1fr));
  gap: 14px;
}

header {
  #wrapper-desktop {
    @include headerFooterLayout();
    justify-content: space-between;
    column-gap: 2rem;
    
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  #wrapper-mobile {
    @include headerFooterLayout();
    column-gap: 2rem;
    @media only screen and (min-width: 769px) {
      display: none;
    }

    nav {
      @include flexbox(null, space-between);
      width: 100%;
    }

    button {
      padding: 1.5ex;
      background: #0000;
      border: 1px solid #fff;
      border-radius: 6px;
    }
  }
}

footer #wrapper-desktop {
  @include headerFooterLayout();
}