@use "../styles/mixins" as *;

#galleryItem {
  @include flexbox(column, center, center);
  border-radius: var(--gallery-r-item);
  transition: transform 300ms ease;
  flex-basis: 20%;
  height: 250px;
  width: 285px;

  img {
    width: 110px;
    height: 110px;
    border-radius: 16px;
    object-fit: cover;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
  }

  &:hover {
    transform: translateY(-3px);
  }
}

// loading
#loadingGalleryItem {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--gallery-r-item);
  height: 280px;
  width: 280px;
  margin: 0 7px;
  @include skeletonPulse();

  #loadingImage,
  #text,
  #textSpecies {
    background: var(--bg-skeleton);
  }

  #loadingImage {
    width: 100px;
    max-height: 100px;
    height: 100px;
    @include skeletonSwipe(550px);
    border-radius: var(--gallery-r-item);
  }

  #text {
    --gallery-r-item: 6px;
    height: 32px;
    width: 100px;
    font-weight: 700;
    margin: 10px 0;
    border-radius: var(--gallery-r-item);
    @include skeletonSwipe(400px);
  }

  #textSpecies {
    height: 20px;
    width: 75px;
    font-weight: 700;
    border-radius: var(--gallery-r-item);
    @include skeletonSwipe(400px);
  }
}
