#wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 1.6rem;
  column-gap: 2rem;
}

#search-box-wrapper {
  display: flex;
  align-items: center;
  column-gap: 1.75rem;
  width: 660px;
}

#logo {
  // TODO: Based on Fursona colors when logged in and have a registered fursona
  background: linear-gradient(145deg, #ad00ff, #ff00f5, #ff5c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  font-size: 160%;
  font-weight: 800;
}

#search-box {
  width: 100%;
  position: relative;
  border-radius: 9px;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0%;
    background: linear-gradient(145deg, #ff00f5, #ff5c00);
    transition: width 270ms ease;
  }

  &:focus-within::before {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 1.2ex;
    border: none;
    outline: none;
    font-size: 105%;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 700;
    transition: background 270ms ease-in-out;
    border-radius: 12px;
    background-image: url('/images/searchIcon.png');
    background-position: 15px 10px;
    background-size: 20px;
    background-repeat: no-repeat;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
      transition: color 270ms ease-in-out;
    }

    &:focus-within {
      background: rgba(#8f8f8f, 44%);

      &::placeholder {
        color: #fff;
      }
    }
  }
}

#user-actions {
  button {
    font-size: 105%;
    background: linear-gradient(256.61deg, #9f03ff -2.77%, #c05aff 107.69%);
    border-radius: 6px;
    padding: 1.2ex 4ex;
    transition: all 200ms ease-in-out;

    &:hover {
      // Adds cool glow effect to the button
      box-shadow: 0px 0px 12px #ad00ff;
      // filter: brightness(125%);
    }
  }
}