@use '../styles/mixins' as *;

#search-box-wrapper {
  display: flex;
  align-items: center;
  column-gap: 1.75rem;
  width: 660px;
}

#logo {
  // TODO: Based on Fursona colors when logged in and have a registered fursona
  background: linear-gradient(145deg, #ad00ff, #ff00f5, #ff5c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  font-size: 160%;
  font-weight: 800;
}

#search-box {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  padding: 0 2ex;
  background: rgba(255, 255, 255, 0.1);
  transition: background 270ms ease-in-out;

  &:focus-within {
    background: rgba(#8f8f8f, 44%);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0%;
    left: 50%;
    background: linear-gradient(145deg, #ff00f5, #ff5c00);
    transition: width 270ms ease, left 270ms ease;
  }

  &:focus-within::before {
    width: 100%;
    left: 0%;
  }

  input {
    width: 100%;
    height: 42px;
    border: none;
    outline: none;
    font-size: 105%;
    font-weight: 700;
    background: none;
    color: #f5f5f5;
    // border-radius: 12px;
    // background-image: url('/images/searchIcon.png');
    // background-position: 15px 10px;
    // background-size: 20px;
    // background-repeat: no-repeat;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
      transition: color 270ms ease-in-out;
    }

    &:focus-within::placeholder {
      color: #fff;
    }
  }
}

#user-actions {
  button {
    @include appButtonStyles();
  }
}