@use "partials/mixins" as *;

#search-box-wrapper {
  @include flexbox(null, null, center);
  column-gap: 1.75rem;
  width: 825px;
}

#logo-nav {
  @include flexbox(null, null, center);
  column-gap: 1rem;
}

#logo {
  // TODO: Based on Fursona colors when logged in and have a registered fursona
  background: linear-gradient(145deg, #ad00ff, #ff00f5, #ff5c00);
  background-clip: text;
  -webkit-text-fill-color: #0000;
  font-size: 1.7rem;
  font-weight: 800;

  @media only screen and (max-width: 768px) {
    font-size: 1.35rem;
  }
}

#search-box {
  @include flexbox(null, null, center);
  column-gap: 0.5rem;
  width: 100%;
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  padding: 0 2ex;
  background: rgba(255, 255, 255, 0.1);
  transition: background 270ms ease-in-out;

  &:focus-within {
    background: rgba(#8f8f8f, 44%);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0%;
    left: 50%;
    background: linear-gradient(145deg, #ff00f5, #ff5c00);
    transition: width 270ms ease, left 270ms ease;
  }

  &:focus-within::before {
    width: 100%;
    left: 0%;
  }

  input {
    width: 100%;
    height: 42px;
    border: none;
    outline: none;
    font-size: 105%;
    font-weight: 700;
    background: none;
    color: #f5f5f5;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
      transition: color 270ms ease-in-out;
    }

    &:focus-within::placeholder {
      color: #fff;
    }
  }
}

#user-actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    margin: 0 5px;

    #avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  button {
    @include appButtonStyles();
  }
}

#login-button {
  @include flexbox(null, center, center);
  padding: 1.3ex;
  border-radius: 6px;
  transition: background 150ms ease;

  &:hover {
    background-color: rgba(white, 20%);
  }
}

#avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: white 3px solid;

}

#header {
  display: flex;
  flex-direction: column;
}

#user-actions {
  //background: white;
  display: flex;
  flex-direction: row;
  align-items: center;

  #user-options {
    display: flex;
    flex-direction: column;

    #user-menu {
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      max-width: 1400px;
      padding: 1.5ex;
      // Offset the menu from the button
      margin-top: 3.5rem;
      z-index: 5;
      position: absolute;
      float: right;

    }
  }
}

#heading {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  //padding: 1.5ex 0;

  #left-hand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    //margin: 25px 0;
  }
}

#user-menu {
  background: #242424;
  position: absolute;
  border-radius: 6px;
  right: 0;
  z-index: 621; // OwO
  top: 4rem;

  #user-menu-header {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    #user-menu-account {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 1rem;

      #username {
        display: flex;
        flex-direction: column;
      }
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: white 3px solid;
    }
  }

  #user-menu-body {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 1rem;

    button {
      width: 450px;
      background: #242424;
      border: none;
      padding: 1rem 2rem;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      text-align: left;

      &:hover {
        background: #3a3a3a;
      }
    }
  }

}


#page {
  position: relative;
}