/* Header stuff */
#wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.6rem;
  column-gap: 2rem;
} 

#searchBoxWrapper {
  display: flex;
  align-items: center;
  column-gap: 1.75rem;
  width: 100%;
}

.logo {
  background: linear-gradient(145deg, #AD00FF, #FF00F5, #FF5C00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  font-size: 160%;
}

#searchBox {
  padding: 1.2ex;
  border: none;
  border-radius: 7px;
  font-size: 105%;
  background: rgba(#8f8f8f, 55%);
  color: #fff;
  font-weight: 700;
  transition: background 270ms ease-in-out;
  width: 100%;

  &:focus-within {
    background: rgba(#8f8f8f, 90%);
  }
}

#userActions {
  button {
    font-size: 105%;
    background: linear-gradient(256.61deg, #9F03FF -2.77%, #C05AFF 107.69%);
    border-radius: 6px;
    padding: 1.2ex 4ex;
  }
}

/* Main content */

#sonaMainShowcase {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;

}