@use "@/styles/partials/mixins" as *;

#galleryItem {
  @include flexbox(column, center, center);
  border-radius: var(--gallery-r-item);
  transition: transform 300ms ease;
  height: var(--gallery-item-size);
  width: var(--gallery-item-size);
  margin: 0 7px;
  
  img {
    width: 135px;
    height: 135px;
    border-radius: 16px;
    object-fit: cover;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
  }

  &:hover {
    transform: translateY(-10px);
  }
}

// loading
#loadingGalleryItem {
  @include flexbox(column, center, center);
  flex-basis: 20%;
  border-radius: var(--gallery-r-item);
  height: var(--gallery-item-size);
  width: var(--gallery-item-size);
  margin: 0 7px;
  @include skeletonPulse();

  #loadingImage,
  #text,
  #textSpecies {
    background: var(--bg-skeleton);
  }

  #loadingImage {
    width: 45%;
    height: 45%;
    @include skeletonSwipe(550px);
    border-radius: var(--gallery-r-item);
  }

  #text {
    --gallery-r-item: 5px;
    height: 22px;
    width: 100px;
    font-weight: 700;
    margin: 10px 0;
    border-radius: var(--gallery-r-item);
    @include skeletonSwipe(400px);
  }

  #textSpecies {
    height: 20px;
    width: 75px;
    font-weight: 700;
    border-radius: var(--gallery-r-item);
    @include skeletonSwipe(400px);
  }
}
