@use "partials";

@tailwind base;
@tailwind components;
@tailwind utilities;

svg.lucide {
  pointer-events: none;
}

body {
  --avatar-size: 8rem;
}

@media (min-width: 1024px) {
  body {
    --avatar-size: 11rem;
  }
}

@layer base {
  h1,
  h2 {
    @apply font-inter font-bold;
  }
}

@layer components {
  a.hyperlink {
    @apply underline text-blue-400 hover:text-blue-500;
  }

  .desktop-only-lg {
    @apply hidden lg:block;
  }

  .desktop-only-md {
    @apply hidden md:block;
  }

  .mobile-only-lg {
    @apply block lg:hidden;
  }

  .mobile-only-md {
    @apply block md:hidden;
  }
}
