@tailwind base;
@tailwind components;
@tailwind utilities;

svg.lucide {
  pointer-events: none;
}

@layer base {
  :root {
    /* Shared colors */
    --warning: hsl(46.80000000000001, 99.3%, 54.6%);
    --info: hsl(212.39999999999998, 95.4%, 46.3%);
    --error: hsl(0, 100%, 61.2%);
    --hyperlink: hsl(219.60000000000002, 100%, 50%);
    --success: hsl(136.8, 87.7%, 40.4%);
    /* Light colors */
    --mute: hsl(260, 34.7%, 83.4%);
    --background-active-text: hsl(256.6, 100%, 99%);
    --modal: hsl(248, 88.8%, 94.6%);
    --button-idle-chips: hsl(251, 96.4%, 85.9%);
    --dropdowns-text-field: hsl(250, 95.5%, 75%);
    --active-state: hsl(266, 100%, 40.6%);
    --text-emphasis: hsl(260, 81.8%, 16.5%);
    --text: hsl(260, 81.8%, 5.5%);
    --subtext: hsl(265.70000000000005, 5.7%, 52.2%);
    --separator-borders: hsl(255.60000000000002, 27.6%, 59.7%);
    --warning-background: hsl(46.80000000000001, 100%, 87.6%);
    --info-background: hsl(212.39999999999998, 100%, 87.5%);
    --error-background: hsl(0, 100%, 87.4%);
  }

  .dark {
    /* Dark colors */
    --text-icons: hsl(260, 100%, 97.5%);
    --text-emphasis: hsl(250, 100%, 85.1%);
    --active-state: hsl(267, 100%, 50%);
    --dropdowns-text-field: hsl(253, 65.7%, 36.7%);
    --button-idle-chips: hsl(260, 83.4%, 18.2%);
    --modal: hsl(260, 86.4%, 7.5%);
    --background: hsl(260, 76.5%, 4.3%);
    --mute: hsl(252, 27.4%, 18.7%);
    --subtext: hsla(260, 40.8%, 86.5%, 0.68);
    --menu-separator: hsl(247, 27.8%, 42.1%);
    --error-background: hsl(0, 100%, 15%);
    --warning-background: hsl(46.80000000000001, 100%, 15.2%);
    --info-background: hsl(212.39999999999998, 100%, 15.2%);
  }

  body {
    @apply bg-background text-text;
  }
}

@layer components {
  .desktop-only-lg {
    @apply hidden lg:block;
  }

  .desktop-only-md {
    @apply hidden md:block;
  }

  .mobile-only-lg {
    @apply block lg:hidden;
  }

  .mobile-only-md {
    @apply block md:hidden;
  }
}
